/*  your css code here. If applicable */

table{
	border-width: 1px 1px 0px 0px;
	border-style:solid;
	border-color:rgb(255, 165, 0);
}
table thead th{
	background-color:rgb(136, 136, 136);
	color:rgb(255, 255, 255);
	padding: 3px 5px;
	text-align:center;
}
.sub-total-text{
	text-align:right;
}
table thead th,table tr td{
	border-width: 0px 0px 1px 1px;
	border-style:solid;
	border-color:rgb(255, 165, 0);
	padding: 3px 5px;
	text-align:center;
}
.sub-total-row{
	text-align:right;
}
table tr:nth-child(2){
	rowspan:"11";
}